* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none !important;
  color: inherit !important;
}
@media (max-width: 770px) {
  .responsive-title {
    font-size: 0.8rem !important;
  }

  .responsive-price {
    font-size: 0.7rem !important;
  }
  .buyContainer {
    width: 70%;
  }
}
